{% extends "base.html" %}

{% block title %}
Manage Products
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Manage Products</h2>

        <a href="{{ url_for('admin.add_product_page') }}"
           class="btn btn-success">

            + Add Product

        </a>

    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>

                <th>ID</th>
                <th>Product</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Status</th>
                <th>Actions</th>

            </tr>

        </thead>

        <tbody>

        {% for product in products %}

            <tr>

                <td>{{ product.id }}</td>

                <td>{{ product.name }}</td>

                <td>₹{{ "{:,.0f}".format(product.price) }}</td>

                <td>{{ product.stock }}</td>
                <td>

                    {% if product.is_active %}

                        <span class="badge bg-success">
                            Active
                        </span>

                    {% else %}

                        <span class="badge bg-secondary">
                            Inactive
                        </span>

                    {% endif %}

                </td>

                <td>

                    <a
                        href="{{ url_for('admin.edit_product_page',
                                        product_id=product.id) }}"
                        class="btn btn-primary">

                        Edit

                    </a>

                    {% if product.is_active %}

                    <form
                        action="{{ url_for('admin.delete_product', product_id=product.id) }}"
                        method="POST"
                        style="display:inline;">

                        <button
                            type="submit"
                            class="btn btn-danger"
                            onclick="return confirm('Delete this product?')">

                            Delete

                        </button>

                    </form>

                    {% else %}

                    <form
                        action="{{ url_for('admin.restore_product', product_id=product.id) }}"
                        method="POST"
                        style="display:inline;">

                        <button
                            type="submit"
                            class="btn btn-success">

                            Restore

                        </button>

                    </form>

                    {% endif %}

                </td>

            </tr>

        {% endfor %}
    
        </tbody>

    </table>

</div>

{% endblock %}