# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Flask instance folder
instance/

# Environment variables
.env

# Uploaded files
ecommerce/static/uploads/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

federated.json
