<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>

        {% block title %}EcommerceLab{% endblock %}

    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet">

    <style>
        .category-card {
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            border-radius: 14px;
        }

        .category-card:hover {
            transform: translateY(-4px);
            box-shadow: 0 12px 24px rgba(0,0,0,.12) !important;
        }

        .category-img {
            height: 150px;
            width: 100%;
            object-fit: contain;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand"
           href="{{ url_for('home.home') }}">

            🛒 {{ config.APP_NAME }}

        </a>

        <button
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
                class="collapse navbar-collapse"
                id="navbar">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">

                    <a class="nav-link"
                       href="{{ url_for('home.home') }}">

                        Home

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="{{ url_for('products.product_list') }}">

                        Products

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="{{ url_for('cart.cart') }}">

                        Cart

                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('orders.my_orders') }}">
                        My Orders
                    </a>
                </li>

                {% if session.get("user_id") %}

                    <li class="nav-item">

                        <span class="nav-link">

                            👋 {{ session["user_name"] }}

                        </span>

                    </li>

                    {% if session.get("role") == "admin" %}

                    <li class="nav-item">

                        <a class="nav-link"
                        href="{{ url_for('admin.dashboard') }}">

                            <span class="badge bg-danger">Admin</span>

                        </a>

                    </li>

                    {% endif %}

                    <li class="nav-item">

                        <a class="nav-link"
                        href="{{ url_for('auth.logout') }}">

                            Logout

                        </a>

                    </li>

                    {% else %}

                <li class="nav-item">

                    <a class="nav-link"
                    href="{{ url_for('auth.register') }}">

                        Sign Up

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                    href="{{ url_for('auth.login') }}">

                        Login

                    </a>

                </li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>


<div class="container mt-3">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

            {% for category, message in messages %}

                <div class="alert alert-{{ category }} alert-dismissible fade show">

                    {{ message }}

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert">
                    </button>

                </div>

            {% endfor %}

        {% endif %}
    {% endwith %}

</div>
<div class="container mt-5"></div>
    {% block content %}

    {% endblock %}

</div>

<footer class="text-center mt-5 mb-3">

    © 2026 EcommerceLab

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>