{% extends "base.html" %}

{% block title %}
Cart
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h1>Your Shopping Cart</h1>

{% if items %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>

        {% for item in items %}

            <tr>

                <td>{{ item.product.name }}</td>

                <td>
                    ₹{{ "{:,.0f}".format(item.product.price) }}
                </td>

                <td>{{ item.quantity }}</td>

                <td>
                    ₹{{ "{:,.0f}".format(item.product.price * item.quantity) }}
                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    <div class="text-end">

        <h3>

            Grand Total :
            ₹{{ "{:,.0f}".format(total) }}

        </h3>

    </div>

{% else %}

<p>Your cart is currently empty.</p>

{% endif %}
</div>

{% endblock %}