{% extends "base.html" %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-8">

            <h1>{{ product.name }}</h1>

            <p class="lead">

                {{ product.description }}

            </p>

            <h2>

                ₹{{ "{:,.0f}".format(product.price) }}

            </h2>

            <p>

                Available Stock:

                <span class="badge bg-success">

                    {{ product.stock }}

                </span>

            </p>

            <form
                method="POST"
                action="{{ url_for('cart.add_product', product_id=product.id) }}">

                <button
                    class="btn btn-success"
                    type="submit">

                    🛒 Add to Cart

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}